# Ключик к телеге от бота
TG_API_TOKEN=*******
# Файлик с приветствием
HELLO_MSG_FILE=./hello.txt
# доступ  к базе ..
# например postgresql://postgres:postgres@127.0.0.1:5432/todo
DB_CONNECTION=*******
